<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DataBaseProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addProjectServlet</display-name>
    <servlet-name>addProjectServlet</servlet-name>
    <servlet-class>cn.zj.web.project.addProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProjectServlet</servlet-name>
    <url-pattern>/addProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProjectServlet</display-name>
    <servlet-name>getProjectServlet</servlet-name>
    <servlet-class>cn.zj.web.project.getProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProjectServlet</servlet-name>
    <url-pattern>/getProjectServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>scientistFilter</display-name>
    <filter-name>scientistFilter</filter-name>
    <filter-class>cn.zj.web.filter.scientistFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>scientistFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>addPersonServlet</display-name>
    <servlet-name>addPersonServlet</servlet-name>
    <servlet-class>cn.zj.web.person.addPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPersonServlet</servlet-name>
    <url-pattern>/addPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPersonServlet</display-name>
    <servlet-name>getPersonServlet</servlet-name>
    <servlet-class>cn.zj.web.person.getPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPersonServlet</servlet-name>
    <url-pattern>/getPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDepartmentServlet</display-name>
    <servlet-name>addDepartmentServlet</servlet-name>
    <servlet-class>cn.zj.web.department.addDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDepartmentServlet</servlet-name>
    <url-pattern>/addDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDepartmentServlet</display-name>
    <servlet-name>getDepartmentServlet</servlet-name>
    <servlet-class>cn.zj.web.department.getDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDepartmentServlet</servlet-name>
    <url-pattern>/getDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPayoffServlet</display-name>
    <servlet-name>addPayoffServlet</servlet-name>
    <servlet-class>cn.zj.web.payoff.addPayoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPayoffServlet</servlet-name>
    <url-pattern>/addPayoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPayoffServlet</display-name>
    <servlet-name>getPayoffServlet</servlet-name>
    <servlet-class>cn.zj.web.payoff.getPayoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPayoffServlet</servlet-name>
    <url-pattern>/getPayoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.zj.web.login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateadmin</display-name>
    <servlet-name>updateadmin</servlet-name>
    <servlet-class>cn.zj.web.updateadmin.updateadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateadmin</servlet-name>
    <url-pattern>/updateadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rankservlet</display-name>
    <servlet-name>rankservlet</servlet-name>
    <servlet-class>cn.zj.web.payoff.rankservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rankservlet</servlet-name>
    <url-pattern>/rankservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>cn.zj.web.payoff.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDepartmentServlet</display-name>
    <servlet-name>deleteDepartmentServlet</servlet-name>
    <servlet-class>cn.zj.web.department.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDepartmentServlet</servlet-name>
    <url-pattern>/deleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePersonServlet</display-name>
    <servlet-name>deletePersonServlet</servlet-name>
    <servlet-class>cn.zj.web.person.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePersonServlet</servlet-name>
    <url-pattern>/deletePersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProjectServlet</display-name>
    <servlet-name>deleteProjectServlet</servlet-name>
    <servlet-class>cn.zj.web.project.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProjectServlet</servlet-name>
    <url-pattern>/deleteProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkImg</servlet-name>
    <servlet-class>cn.zj.web.checkImg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkImg</servlet-name>
    <url-pattern>/checkimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.zj.web.department.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>